body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.05em;
}

/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: rgba(247,152,104,1);
    font-family: Montserrat, sans-serif;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: rgba(247,152,104,1);
    font-family: inherit; /* vertical align on mobile phones */
    margin: 0; /* vertical align on mobile phones */
}

/* Add a orange background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgba(247,152,104,1);
}

/* Dropdown content  */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(247,152,104,1);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* DESAFIOS */

#desafios {
    background-color: white;

}

#desafios_title{
    color: black;
    margin-left: 3px;
}


#estatisticas_users{
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.05em;
    border-bottom: lightgrey 1px;

}

#table_desafios table, tr, th {
    border: 1px lightgrey;
}

#table_desafios table {
    border-collapse: collapse;
    width: 100%;
}

#table_desafios th {
    color: rgba(247,152,104,1);
}




.apagar_desafio{
    color: white;
    background-color: rgba(247,152,104,1);
    border: none;
    outline: none;
    padding: 5px;
    margin-left: 3px;

}

.apagar_desafio:hover {
    color: white;
    background-color: lightgrey;
    border: none;
    outline: none;
    padding: 5px;
}

.adicionar_desafio{
    color: white;
    background-color: rgba(247,152,104,1);
    border: none;
    outline: none;
    padding: 5px;
}

.adicionar_desafio:hover {
    color: white;
    background-color: lightgrey;
    border: none;
    outline: none;
    padding: 5px;
}

.editar_desafio{
    color: white;
    background-color: rgba(247,152,104,1);
    border: none;
    outline: none;
    padding: 5px;
}

.editar_desafio:hover {
    color: white;
    background-color: lightgrey;
    border: none;
    outline: none;
    padding: 5px;
}



/* Prémios */

#premios {
    background-color: white;

}

#premios_title{
    color: black;
    margin-left: 3px;
}


#table_premios table, tr, th {
    border: 1px lightgrey;
}

#table_premios table {
    border-collapse: collapse;
    width: 100%;
}

#table_premios th {
    color: rgba(247,152,104,1);

}

.apagar_premio{
    color: white;
    background-color: rgba(247,152,104,1);
    border: none;
    outline: none;
    padding: 5px;
    margin-left: 3px;
}

.apagar_premio:hover {
    color: white;
    background-color: lightgrey;
    border: none;
    outline: none;
    padding: 5px;
}

.adicionar_premio{
    color: white;
    background-color: rgba(247,152,104,1);
    border: none;
    outline: none;
    padding: 5px;
}

.adicionar_premio:hover {
    color: white;
    background-color: lightgrey;
    border: none;
    outline: none;
    padding: 5px;
}




/* Users */

#users {
    background-color: white;

}

#utilizadores{
    color: black;
    margin-left: 3px;
}


#table_users table, tr, th {
    border: 1px lightgrey;
}

#table_users table {
    border-collapse: collapse;
    width: 100%;
}

#table_users th {
    color: rgba(247,152,104,1);
}

.apagar_utilizador{
    color: white;
    background-color: rgba(247,152,104,1);
    border: none;
    outline: none;
    padding: 5px;
    margin-left: 3px;
}

.apagar_utilizador:hover {
    color: white;
    background-color: lightgrey;
    border: none;
    outline: none;
    padding: 5px;
}

/* caixas */

#boxes {
    background-color: white;

}

#caixas{
    color: black;
    margin-left: 3px;
}


#table_caixas table, tr, th {
    border: 1px lightgrey;
}

#table_caixas table {
    border-collapse: collapse;
    width: 100%;
}

#table_caixas th {
    color: rgba(247,152,104,1);

}

.apagar_caixa{
    color: white;
    background-color: rgba(247,152,104,1);
    border: none;
    outline: none;
    padding: 5px;
    margin-left: 3px;
}

.apagar_caixa:hover {
    color: white;
    background-color: lightgrey;
    border: none;
    outline: none;
    padding: 5px;
}

.adicionar_caixa{
    color: white;
    background-color: rgba(247,152,104,1);
    border: none;
    outline: none;
    padding: 5px;
}

.adicionar_caixa:hover {
    color: white;
    background-color: lightgrey;
    border: none;
    outline: none;
    padding: 5px;
}

/* cromos */

#cromos {
    background-color: white;

}

#cards{
    color: black;
    margin-left: 3px;
}


#table_cromos table, tr, th {
    border: 1px lightgrey;
    align-content: center;
}

#table_cromos table {
    border-collapse: collapse;
    width: 100%;
}

#table_cromos th {
    color: rgba(247,152,104,1);

}

.apagar_cromo{
    color: white;
    background-color: rgba(247,152,104,1);
    border: none;
    outline: none;
    padding: 5px;
    margin-left: 3px;
}

.apagar_cromo:hover {
    color: white;
    background-color: lightgrey;
    border: none;
    outline: none;
    padding: 5px;
}

.adicionar_cromo{
    color: white;
    background-color: rgba(247,152,104,1);
    border: none;
    outline: none;
    padding: 5px;
}

.adicionar_cromo:hover {
    color: white;
    background-color: lightgrey;
    border: none;
    outline: none;
    padding: 5px;
}
.editar_descrição{
    color: white;
    background-color: rgba(247,152,104,1);
    border: none;
    outline: none;
    padding: 5px;
}

.editar_descrição:hover {
    color: white;
    background-color: lightgrey;
    border: none;
    outline: none;
    padding: 5px;
}


/* chaves */

#keys {
    background-color: white;

}

#chaves{
    color: black;
    margin-left: 3px;
}


#table_chaves table, tr, th {
    border: 1px lightgrey;
}

#table_chaves table {
    border-collapse: collapse;
    width: 100%;
}

#table_chaves th {
    color: rgba(247,152,104,1);

}

.apagar_chaves{
    color: white;
    background-color: rgba(247,152,104,1);
    border: none;
    outline: none;
    padding: 5px;
    margin-left: 3px;
}

.apagar_chaves:hover {
    color: white;
    background-color: lightgrey;
    border: none;
    outline: none;
    padding: 5px;
}

.adicionar_chaves{
    color: white;
    background-color: rgba(247,152,104,1);
    border: none;
    outline: none;
    padding: 5px;
}

.adicionar_chaves:hover {
    color: white;
    background-color: lightgrey;
    border: none;
    outline: none;
    padding: 5px;
}

#echos {
    color: black;

}

#burger:hover {
    background-color: lightgrey;
    border: none;
    outline: none;
}
