body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    border: none;
    background: none;
}

.font400{
    font-weight: 400;
}

.font500{
    font-weight: 500;
}

.font600{
    font-weight: 600;
}

.font700{
    font-weight: 700;
}

.font800{
    font-weight: 800;
}

.font900{
    font-weight: 900;
}

.flex{
    display: flex;
    justify-content: center;
    text-align: center;
}


.flex-column{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.flex-row{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.center-items{
    align-items: center;
}

.text-center{
    text-align: center;
}

.menu-img{
    background: url("../img/icon/burguer.png") no-repeat center;
    background-size: 100%;
    width: 2.5em;
    height: 2.5em;
    margin-left: 1em;
}

.header-aeje{
    background-color: yellow;
    padding: 0.8em 0 0.8em 0;
    margin-bottom: 0.5em;
    justify-content: space-between;
    align-items: center;
}

.header-title{
    width: 100%;
}

.menu-pages{
    padding-top: 3.5em;
}

.footer{
    position: fixed;
    background-color: green;
    padding: 0.8em 0 0.8em 0;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    bottom: 0;
}

.logo-aeje{
    background: url("../img/aeje/logo_aeje.png") no-repeat center;
    background-size: 100%;
    height: 7em;
    width: 6em;
}

.main-aeje{
    background: url("../img/aeje/aeje.jpg") no-repeat center;
    background-size: 100%;
    height: 20em;
    width: 23.5em;
}

.img-aeje{
    width: 100%;
    max-width: 15%;
}

.main-aeje-item{
    align-items: center;
    text-align: center;
    padding-top: 1em;
}

.contact-item{
    width: 68%;
    padding-right: 2.5em;
}

.contact-item-email{
    width: 50%;
}

.email{
    font-size: 64%;
}

.phone-number{
    font-size: 69%;
}

.img-aeje-email{
    width: 100%;
    max-width: 27%;
}