body {
    text-align: center;
    margin-top: 5vh;
}


.cuboinicial {

    width: 20%;
    min-width: 150px;
   position: center;

}

h1 {

  font-size: 3vh;
    font-family: "Montserrat", sans-serif;
    position: center;

}

#conteudo {

    text-align: center;
    min-width: 150px;
    margin-top: 5vh;

}

button {

    width: 20%;
    font-family: "Montserrat", sans-serif;
    font-size: 4vh;
    padding: 1vh;
    min-width: 150px;
    margin: 0.5vh;
    border-radius: 1vh;

}

@media screen and (max-width: 400px) {

    #botoes {
       width: 80%;
    }

}


#login {

    background: linear-gradient(to right, #F98E61 , #F6B53E);;
    color: white;

}

#registar{

    text-align: center;
    border-color: #F98E61;
    background-color: white;
    color: #F98E61;

}