body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.05em;
}


a{
    text-decoration: none;
}

form {
    margin: 0;
}

input{
    font-family: "Montserrat", sans-serif;
}

.font400{
    font-weight: 400;
}

.font500{
    font-weight: 500;
}

.font600{
    font-weight: 600;
}

.font700{
    font-weight: 700;
}

.font800{
    font-weight: 800;
}

.font900{
    font-weight: 900;
}

.gradient-border {
    border-radius: 5px;
    border-left: 2px solid #F68E65;
    border-right: 2px solid #F4B540;
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
    -webkit-background-size: 100% 2px;
    -moz-background-size: 100% 2px;
    background-size: 100% 2px;
    background-image: -webkit-linear-gradient(left, #F68E65 0%, #F4B540 100%), -webkit-linear-gradient(left, #F68E65 0%, #F4B540 100%);
    background-image: -moz-linear-gradient(left, #F68E65 0%, #F4B540 100%), -moz-linear-gradient(left, #F68E65 0%, #F4B540 100%);
    background-image: -o-linear-gradient(left, #F68E65 0%, #F4B540 100%), -o-linear-gradient(left, #F68E65 0%, #F4B540 100%);
    background-image: linear-gradient(to right, #F68E65 0%, #F4B540 100%), linear-gradient(to right, #F68E65 0%, #F4B540 100%);
}

.gradient-border-homepage {
    background-repeat: no-repeat;
    -webkit-background-size: 100% 2px;
    -moz-background-size: 100% 2px;
    background-size: 100% 2px;
    background-image: -webkit-linear-gradient(left, #F68E65 0%, #F4B540 100%), -webkit-linear-gradient(left, #F68E65 0%, #F4B540 100%);
    background-image: -moz-linear-gradient(left, #F68E65 0%, #F4B540 100%), -moz-linear-gradient(left, #F68E65 0%, #F4B540 100%);
    background-image: -o-linear-gradient(left, #F68E65 0%, #F4B540 100%), -o-linear-gradient(left, #F68E65 0%, #F4B540 100%);
    background-image: linear-gradient(to right, #F68E65 0%, #F4B540 100%), linear-gradient(to right, #F68E65 0%, #F4B540 100%);
}

.gradient-background{
    background: linear-gradient(to right, rgba(247,152,104,0.90) , rgba(246,181,62,0.90));
}

/* COLORS */
.white{
    color: #F9FAFB;
}

.gray{
    color: #8C8C8C;
}

.orange{
    color: rgba(247,152,104,1);
}

.equipa-color{
    color: #242627;
}
/* COLORS */

.flex{
    display: flex;
    justify-content: center;
}


.flex-column{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.flex-row{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.black-background{
    background-color: #8C8C8C;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1;
    overflow: auto;
}

.pointer{
    cursor: pointer;
}

.shadow{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 1px 6px rgba(0,0,0,0.23);
}

/* elementos recentes/antigos */

.lines{
    display: none;
}

.lines-content{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.line-content-border{
    border-top: 2px solid rgba(247,152,104,1);
    border-radius: 1px;
    max-height: 1%;
}

.line-content-title{
    color: rgba(247,152,104,0.65);
}

.line1-content-width{
    width: 15%;
}

.line2-content-width{
    width: 52%;
}
.text-center{
    text-align: center;
}

/* elementos recentes/antigos */

/* LANDING PAGE */
.cuboinicial {

    width: 20%;
    min-width: 12em;
    position: relative;
    top: 1.6em;

}

#conteudo {
    text-align: center;
    margin-left: auto;
    margin-top: 2.3em;

}

#conteudo-login-registo a:link{
    text-decoration: none;
    display: block;
    margin: auto;
    margin-top: 0.6em;
}

.login-registo{
    padding-top: 7.5em;
    font-size: 1.15em;
}

#login {

    background: linear-gradient(to right, #F98E61 , #F6B53E);
    color: #F9FAFB;
}


.login-registo-style{

    width: 19%;
    padding: 10px;

}

#registar{

    color: #F68E65;
}

/* LANDING PAGE */


/* MENU */

.profile-font-size{
    font-size: 2.1em;
}

#keys{
    padding: 0.5em 1em 1.3em 0;
}

#keys-number{
    padding: 0.4em 0.4em 0 0;
}

.back-style{
    width: 100%;
    height: 100%;
    background-color: rgba(249, 250, 251, 0.75);
    opacity: 0.75;
}

.main-menu-style{
    width: 100%;
    height: auto;
    background-color: #8C8C8C;
    color: #F9FAFB;
    padding-bottom: 0.5em;
}

.profile-menu-style{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 3em;
    padding-top: 0.5em;
}


#user-name{
    font-size: 92%;
    padding-left: 3em;
}

.vertical-align-style{

}

input[name="image-uploaded"] {
    width: 70px;
    height: 70px;
    opacity: 0;
    position: relative;
    left: -1.5em;
    top: -1.2em;
}

.count-keys{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#icon-key{
    width: 20%;
    min-width: 3.5em;
    padding-right: 1em;
}

.center {
    margin: auto;
}


    /* PAGES */

    .lineB{
        border-bottom: 0 solid rgba(249, 250, 251, 0.78);
    }

    .lineT{
        border-top: 0 solid rgba(249, 250, 251, 0.78);
    }

    .stroke1{
        border-width: 1px;
    }

    .stroke2{
        border-width: 2px;
        border-color: rgba(249, 250, 251, 1);
    }

    .menu-pages{
        text-align: center;
        margin: -1.5em 0 0 0.63em;
    }

    #menu ul{
        list-style-type:none;
        padding-left: 0.3em;
        font-weight: 600;
        font-size: 82%;
        letter-spacing: 0.08em;
    }

    #menu ul li a span {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    #main-pages ul{
        text-align: left;
        font-weight: 500;
        font-size: 72%;
        letter-spacing: 0.08em;
        padding: 0;
        color: rgba(249, 250, 251, 0.78);
    }

    #menu-pages a{
        cursor: pointer;
        text-decoration: none;
        color: rgba(249, 250, 251, 1);
    }

    .click-area{
        padding: 1em 0 1em 0;
    }

        .click-area:active{
            background-color: rgba(249, 250, 251, 0.30);
            color: rgba(249, 250, 251, 1);
        }

    #main-pages a{
        cursor: pointer;
        color: rgba(249, 250, 251, 0.78);
    }

        #main-pages ul li a span {
            padding: 1.5em 0 1.5em 2.5em;
        }

            #main-pages ul li a span:active{
                background-color: rgba(249, 250, 251, 0.30);
                color: rgba(249, 250, 251, 1);
            }

    .pages{
        display: flex;
        flex-direction: row;
        padding: 1em 1em 1em 1em;
    }

    /* PAGES */


.menu-text{
    align-self: center;
    width: 80%; /* cria um espaçamento entre os elementos sem precisar de utilizar padding*/
    margin: auto;
}

.menu-icon{
    width: 10%;
    min-width: 2em;
    align-self: center; /*flex items*/
}

.menu-icon-arrow{
    width: 5%;
    height: 5%;
    min-width: 5%;
    align-self: center;
}

.image-upload{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.default-position{
    position: relative;
    left: 3.5em;
    top: 1em;
    background-color: transparent;
    border-radius: 33px;
}

.preview-position{
    position: relative;
    left: 3.5em;
    top: -5em;
}

.select-image{
    padding-left: 1em;
}

/* MENU */

/* HOMEPAGE */

.background{
    background-color: rgba(249, 250, 251, 0.75); /* quando clicar no desafio -> background-color: rgba(140,140,140,0.70) */
    padding-bottom: 2em;
}


.homepage-header{
    background: linear-gradient(to right, rgba(247,152,104,0.90) , rgba(246,181,62,0.90)); /* GRADIENT */
    padding: 0.5em 0 0.5em 0;
    margin-bottom: 0.5em;
    justify-content: space-between;
    align-items: center;
    z-index: 0; /* quando clicar no desafio -> z-index: -1 */
}

.homepage-header img {
    padding: 0 0.6em 0 0.6em;
}

.profile {
    background: linear-gradient(to right, rgba(247,152,104,0.70) , rgba(246,181,62,0.70));
    color:  rgba(249, 250, 251, 0.75);;
}

.day-challenge-title{
    background: linear-gradient(to right, rgba(247,152,104,0.70) , rgba(246,181,62,0.70));
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 0.5em 0 0.5em 0;
    align-self: center;
    width: 50%;
    margin-top: 2em;
    border-radius: 0.2em;
}

.day-challenge{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 0 0.2em 0 0.2em;
}

.day-challenge-description{
    color: #8C8C8C;
    align-self: center;
    text-align: center;
    width: 72%;
    padding: 1em 0 1em 0;
}

.accept-or-decline{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.accept-or-decline-item{
    align-self: center;
    text-align: center;
    width: 35%;
    padding: 0.5em 0 0.5em 0;
    margin-right: 0.5em;
}

.challenge-time-keys{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1.2em 0 0.8em 0;
}

.time{
    width: 7%;
    min-width: 2em;
    color: rgba(247,152,104,1);
}

.challenge-time{
    color: rgba(247,152,104,1);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding-left: 0.5em;
    font-size: 0.82em;
}

.challenge-keys{
    width: 9%;
    min-width: 2em;
    padding-right: 0.5em;
}

.homepage-content{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding-top: 3em;
}

.homepage-content-lines{
    width: 100%;
    margin: auto;
    align-items: center;
}

.homepage-content-line{
    color: transparent;
    width: 100%;
}

.homepage-content-elements{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

    .homepage-content-icon-lootboxes{
        padding: 0 2em 0 2em;
        max-width: 50%;
    }

    .homepage-content-icon-keys{
        padding: 0 2em 0 2em;
        max-width: 50%;
    }

    .homepage-content-icon-colections{
        padding: 0 2em 0 2em;
        max-width: 50%;
    }

    .homepage-content-icon-awards{
        padding: 0 2em 0 2em;
        max-width: 50%;
    }

.homepage-content-description{
    width: 72%;
    text-align: center;
    padding: 1.5em 0 1.5em 0;
    color: #8C8C8C;
}

.homepage-content-link-item{
    align-self: center;
    text-align: center;
    width: 35%;
    padding: 0.5em 0 0.5em 0;
}

/* HOMEPAGE */

/* DESAFIOS */

.desafio-premios-colecoes{
    border-radius: 7px;
    margin: 0.5em 0.4em 0.5em 0.4em;
}

.desafio-content-items {
    justify-content: space-evenly;
    padding-top: 1em;
}

.desafio-title{
    color: rgba(247,152,104,1);
    font-size: 1.2em;
    text-align: center;
    letter-spacing: 0.05em;
    align-self: center;
    margin-left: 2.5em;
}

.desafio-subtitle{
    text-align: center;
    width: 16%;
    color: rgba(247,152,104,1);
    letter-spacing: 0.03em;
}

.desafio-description{
    width: 48%;
    color: #8C8C8C;
    letter-spacing: 0;
}

.desafio-logo{
    width: 9%;
    min-width: 2em;
    align-self: center;
}

.desafio-time-keys{
    padding: 1.2em 0 0.8em 4.6em;
}

    /* DESAFIOS-DETALHES */

    .yes-or-not-display{
        display: none; /*quando clicar no desafio -> .yes-or-not-display -> display: flex*/
        background: linear-gradient(to right, rgba(247,152,104,0.70) , rgba(246,181,62,0.70));
    }

    .hide-desafio{
        display: block; /* quando clicar no desafio -> display: none */
        padding: 0.8em 0 0 0;
    }

    .yes-or-not{
        align-items: center;
        justify-content: space-evenly;
    }

    .yes-or-not-item{
        width: 70%;
    }

    .yes-or-not-item-width{
        width: 65%;
    }

    .yes-or-not-item-padding{
        padding: 0.8em 0 0.8em 0;
    }
    /* DESAFIOS-DETALHES */


/* DESAFIOS */


/* PREMIOS */

.premios-title{
    justify-content: space-between;
}

.premios-title-size{
    font-size: 1.2em;
    padding-left: 1em;
    align-self: center;
}

.premios-subtitle{
    padding-left: 0.4em;
}

.premios-unlock{
    align-items: center;
    width: 4%;
    padding: 0.6em 1em 0 0;
}

.premios-unlock-logo{
    width: 100%;
}

.premios-unlock-title{
    font-size: 40%;
    padding-top: 0.6em;
}

.colection{
    padding: 1em 0.7em 0.7em 0.7em;
}

.carta-size{
    padding: 0 0.2em 0 0.2em;
    width: 100%;
}

/* PREMIOS */

/* COLECOES */

.carta{
    padding: 0 0.2em 0 0.2em;
    align-items: center;
    width: 12%;
}

.colection-numbers{
    padding-top: 0.5em;
    font-size: 1.2em;
}

/* COLECOES */

/* LOGIN */

.background-color{
    background: linear-gradient(to right, rgba(247,152,104,0.70) , rgba(246,181,62,0.70));
}

.login-logo{

}

.background-color-item{
    padding: 2.8em 0 1.5em 0;
}

.login-box{
    background-color: rgb(249, 250, 251);
    margin: 0.5em 0.4em 0.5em 0.4em;
    align-items: center;
    max-height: 32.8em;
    height: 32.8em;
    border-radius: 7px 7px 0 0;
    justify-content: normal;
}

.login-btn{
    width: 65%;
    padding: 0.9em 0 0.9em 0;
    font-size: 120%;
    border: none;
    letter-spacing: 1.5px;
}

.login-item{
    align-items: center;
    padding-bottom: 1.5em;
}

.login-item-form{
    width: 100%;
    border-radius: 7px;
    border: 2px solid rgba(140,140,140,0.70);
    background-color: transparent;
    padding: 1.3em 1em 1.3em 2.7em;
    font-size: 88%;
    position: relative;
    left: -1.5em;
    letter-spacing: 1px;
}

.login-item-img{
    max-width: 12%;
    padding-left: 0.7em;
    z-index: 1;
}


/* LOGIN */

.login-register-title{
    padding: 1.5em 0 1.5em 0;
    font-size: 150%;
    letter-spacing: 2px;
}

.login-register-link{
    font-size: 85%;
    letter-spacing: 0.6px;
    color: rgba(140,140,140,0.70);
}

.submit{
    padding-top: 3em;
}


@media screen and (max-width: 992px) {

    /*
        .login-registo-style{

            width: 51%;
            text-align: center;
            padding: 0.8em;
        }

        .main-menu-style{
            width: 85%;
            height: auto;
        }

        .border{
            width: 90%;
        }

        .image-default{
            width: 60%;
            min-width: 2em;
        }
    */

    .carta{
        width: 18%;
    }

    .premios-unlock{
        width: 6%;
    }

    /* MENU */

    .background-color{
        height: 24em;
    }
}

@media screen and (max-width: 768px) {

    .login-registo-style{

        width: 51%;
        text-align: center;
        padding: 0.8em;
    }

    /* MENU */
    .main-menu-style{
        width: 85%;
        height: auto;
    }

    .border{
        width: 90%;
    }

    .image-default{
        width: 60%;
        min-width: 2em;
    }
    /* MENU */

    .carta{
        width: 20%;
    }

    .premios-unlock{
        width: 8%;
    }

    .yes-or-not-item{
        width: 60%;
    }

    .yes-or-not-item-width{
        width: 55%;
    }

    /*.background-color-item{
        width: 15%;
    }*/

    .background-color{
        height: 13em;
    }

}


@media screen and (max-width: 576px) {

    .login-registo-style{

        width: 51%;
        text-align: center;
        padding: 0.8em;
    }

    /* MENU */
    .main-menu-style{
        width: 85%;
        height: auto;
    }

    .border{
        width: 90%;
    }

    .image-default{
        width: 50%;
        min-width: 2em;
    }

    /* MENU */

    .carta{
        width: 25%;
    }

    .premios-unlock{
        width: 10%;
    }

    .yes-or-not-item{
        width: 50%;
    }

    .yes-or-not-item-width{
        width: 45%;
    }

    /*.login-box{
        position: relative;
        top: -7.4em;
    }*/

    .background-color{
        height: 13em;
    }

    .login-logo{

    }

    /*.background-color-item{
        width: 17%;
    }*/

}