body {
    text-align: center;
    margin-top: 5vh;
    font-family: "Montserrat", sans-serif;
}


.cuboinicial {

    width: 20%;
    min-width: 12em;
    position: relative;
    top: 1.6em
;

}

#conteudo {

    margin: auto;

}

#conteudo-login-registo a:link{
    text-decoration: none;
    display: block;
    margin: auto;
    margin-top: 0.6em;
}

.login-registo{
    padding-top: 7.5em;
    font-weight: 700;
    font-size: 1.15em;
}

#login {

    background: linear-gradient(to right, #F98E61 , #F6B53E);
    color: white;
}

.login-registo-style{

    width: 19%;
    padding: 10px;
    border-radius: 5px;
    border-left: 2px solid #F68E65;
    border-right: 2px solid #F4B540;
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
    -webkit-background-size: 100% 2px;
    -moz-background-size: 100% 2px;
    background-size: 100% 2px;
    background-image: -webkit-linear-gradient(left, #F68E65 0%, #F4B540 100%), -webkit-linear-gradient(left, #F68E65 0%, #F4B540 100%);
    background-image: -moz-linear-gradient(left, #F68E65 0%, #F4B540 100%), -moz-linear-gradient(left, #F68E65 0%, #F4B540 100%);
    background-image: -o-linear-gradient(left, #F68E65 0%, #F4B540 100%), -o-linear-gradient(left, #F68E65 0%, #F4B540 100%);
    background-image: linear-gradient(to right, #F68E65 0%, #F4B540 100%), linear-gradient(to right, #F68E65 0%, #F4B540 100%);
}

#registar{

    color: #F68E65;
}



@media screen and (max-width: 400px) {

    .login-registo-style{

        width: 51%;
        text-align: center;
        padding: 0.8em;
    }



}